<h1 class="h" mat-dialog-title>Hiba</h1>
<div mat-dialog-content>Az eladásra kínált tokenek száma nagyobb kell legyen, mint 0, és kisebb, mint a tokenegyenlegeded! Ha már kínáltál tokeneket eladásra, ezt nem teheted meg újra, amíg a tokenjeidet nem vették meg! Ellenőrizheted a piacon, hogy mennyi tokened vár még értékesítésre!</div>
<div class="dialogactions" mat-dialog-actions>
  <button class="dialogbtn" mat-button mat-dialog-close>Bezárás<source media="(min-width: )" srcset=""></button>
</div>