#isnotAdmin{
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: red;
}

#withdraw{
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: green;
    padding: 10px;
}

#newowner{
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: green;
    padding: 10px;
}

#isnotExist{
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: red;
    padding: 10px;
}