.menu {
    z-index: 5;
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba($color: #8a7471, $alpha: 1.0);
    ul {
        margin-left: 0;
        padding-left: 0;

        li {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            display: inline-block;
            margin-left: 10px;
            padding: 10px;
            transition: al linear 0.2s;
            font-size: large;

            &:hover {
                cursor: pointer;
                color: white;
                background-color: salmon;
            }
        }
    }
}

